*{
	padding:0;
	margin:0;
	text-decoration: none;
	font-family:cursive;
	list-style:none;
}
.aviis{
	/*background-image:url('annie-spratt-65WlDq9rf80-unsplash.jpg');
	background-size:cover;*/
	background-color: aliceblue;
}
.navbar{
	background-color:dodgerblue;
	width:100%;
	position:fixed;
	padding:25px 0px;
}
.navbar .max-width{
	display: flex;
	justify-content: space-between;

}
.logo a {
	color:white;
	font-weight:400;
	font-size: 40px;
}
.logo a span{
	color:midnightblue;
}
.menu{
	padding-right:20px;
}
.menu li{
	display:inline-block;
	padding-top: 10px;
}
.menu li a{
	color:white;
	font-size: 20px;
	font-weight:200px ;
	margin-left:25px;
	transition: color 2s;
}
.menu li a:hover{
	color:midnightblue;
}
/*Fin Barre de Navigation*/
 .p1{
	color:midnightblue;
	font-size:35px;
	text-align:center;
	font-weight:200;

}
.ISIT,.Sabdarifa,.ISI,.Hetaa,.Precision{
	display: flex;
	justify-content: space-between;
	width:100%;

}
.imisit img{
	width:300px;
	height:300px;
	border:2px solid midnightblue;
	border-radius:12px;
	box-shadow:5px 5px 10px midnightblue;
	margin-left:40px;

}
.imisit{
	width:40%;
}
.textisit{
	width:60%;
	padding-top:20px;
	line-height:35px;
	font-size:25px;
	color:midnightblue;
}

.imisi img{
	width:300px;
	height:300px;
	border:2px solid midnightblue;
	border-radius:12px;
	box-shadow:5px 5px 10px midnightblue;
	margin-left:40px;

}
.imisi{
	width:40%;
}
.textisi{
	width:60%;
	padding-top:50px;
	line-height:35px;
	font-size:25px;
	color:midnightblue;
}

.imsab img{
	width:300px;
	height:300px;
	border:2px solid midnightblue;
	border-radius:12px;
	box-shadow:5px 5px 10px midnightblue;
	margin-left:40px;

}
.imsab{
	width:40%;
}
.textsab{
	width:60%;
	padding-top:50px;
	line-height:35px;
	font-size:25px;
	color:midnightblue;
}
.imhetaa img{
	width:300px;
	height:300px;
	border:2px solid midnightblue;
	border-radius:12px;
	box-shadow:5px 5px 10px midnightblue;
	margin-left:40px;

}
.imhetaa{
	width:40%;
}
.texthetaa{
	width:60%;
	padding-top:50px;
	line-height:35px;
	font-size:25px;
	color:midnightblue;
}
.imprecis img{
	width:300px;
	height:300px;
	border:2px solid midnightblue;
	border-radius:12px;
	box-shadow:5px 5px 10px midnightblue;
	margin-left:40px;

}
.imprecis{
	width:40%;
}
.textprecis{
	width:60%;
	padding-top:30px;
	line-height:35px;
	font-size:25px;
	color:midnightblue;
}


.contact 
{
	background-color:dodgerblue;
	width:100%;
	color:midnightblue;
	text-align: center;
}
.contact .reseau p{
	font-size:20px;
	font-family: 'Exo', sans-serif;
}