*{
	padding:0;
	margin:0;
	text-decoration: none;
	font-family:cursive;
	list-style:none;
}
.aviis{
	background-color: aliceblue;
}
.navbar{
	background-color:dodgerblue;
	width:100%;
	position:fixed;
	padding:25px 0px;

}
.navbar .max-width{
	display: flex;
	justify-content: space-between;

}
.logo a {
	color:white;
	font-weight:400;
	font-size: 40px;
}
.logo a span{
	color:black;
}
.menu{
	padding-right:20px;
}
.menu li{
	display:inline-block;
	padding-top: 10px;
}
.menu li a{
	color:white;
	font-size: 20px;
	font-weight:200px ;
	margin-left:25px;
	transition: color 2s;
}
.menu li a:hover{
	color:black;
}


/*Fin Barre de Navigation*/
h1{
	color:midnightblue;
	text-align:center;
	font-size:40px;
}

.fille {
	text-align: center;
	font-size: 15px;
	width:900px;
	height:350px;
	display:flex;
	justify-content: space-between;
	border:2px solid white;
	padding-left:200px;
	position: center;
	line-height: 30px;

}
.fille .d1{
	border-radius: 5px;
	border:5px solid midnightblue;
	background-color:midnightblue;
	width:250px;
	padding-top: 8px;
	color:dodgerblue;
}
.fille div p{
	font-size: 25px;
}	
.fille div .pf{
	font-size: 30px;
}
.d1 img{
	width:100px;
	height:100px;

}	